<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.dhinakg.USBToolBox.map</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UTBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>USBToolBox</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCI</string>
			<key>model</key>
			<string>iMac19,1</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14</string>
			<key>port-count</key>
			<integer>15</integer>
			<key>ports</key>
			<dict>
				<key>HS01</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					AQAAAA==
					</data>
				</dict>
				<key>HS02</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					AgAAAA==
					</data>
				</dict>
				<key>HS03</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					AwAAAA==
					</data>
				</dict>
				<key>HS04</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					BAAAAA==
					</data>
				</dict>
				<key>HS05</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					BQAAAA==
					</data>
				</dict>
				<key>HS06</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					BgAAAA==
					</data>
				</dict>
				<key>HS09</key>
				<dict>
					<key>UsbConnector</key>
					<integer>0</integer>
					<key>port</key>
					<data>
					CQAAAA==
					</data>
				</dict>
				<key>HS10</key>
				<dict>
					<key>UsbConnector</key>
					<integer>0</integer>
					<key>port</key>
					<data>
					CgAAAA==
					</data>
				</dict>
				<key>HS12</key>
				<dict>
					<key>UsbConnector</key>
					<integer>255</integer>
					<key>port</key>
					<data>
					DAAAAA==
					</data>
				</dict>
				<key>SS01</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					EQAAAA==
					</data>
				</dict>
				<key>SS02</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					EgAAAA==
					</data>
				</dict>
				<key>SS03</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					EwAAAA==
					</data>
				</dict>
				<key>SS04</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					FAAAAA==
					</data>
				</dict>
				<key>SS05</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					FQAAAA==
					</data>
				</dict>
				<key>SS07</key>
				<dict>
					<key>UsbConnector</key>
					<integer>3</integer>
					<key>port</key>
					<data>
					FwAAAA==
					</data>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b1</string>
	</dict>
</dict>
</plist>
